h1 {
  color: tomato;
  font-size: 60px;
}

.body {
  display: flex;
  width: 100vw;
  height: 40vw;
}

.instructions {
  width: 30vw;
  height: 40vw;
}

#world {
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

}
.wallClass {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: darkturquoise;
  position: relative;
}

.spaceClass {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: tomato;
  position: relative;
}

.coinClass {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: gold;
  position: relative;
}

.pacmanClass {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: white;
}

.ghostClass {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: darkslategrey;
}
