body {
  font-family: 'Inconsolata', monospace;
}

h1 {
  color: tomato;
  font-size: 60px;
  text-align: center;
  margin-bottom: 2vw;
}

.main {
  display: flex;
  width: 100vw;
  height: 40vw;
  align-items: center;
  justify-content: center;
}

#world {
  width: 40vw;
  height: 40vw;
  margin-right: 1.2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  position: relative;
}

.wallClass {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: darkturquoise;
  position: relative;
}

.spaceClass {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: tomato;
  position: relative;
}

/* .countDownClass {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: orangered;
  position: relative;
  color: white;
  content: '1';
} */

.coinClass {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: gold;
  position: relative;
}

.pacmanClass {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: white;
}

.ghost1Class, .ghost2Class, .ghost3Class {
  width: 3.3vw;
  height: 3.3vw;
  border: solid white 0.03vw;
  background-color: darkslategrey;
}

#win, #lose, #complete {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 26vw;
    border: solid black 0.03vw;
    text-align: center;
    padding: 3vw 0.5vw 3vw 0.5vw;
    align-self: center;
    background-color: white;
    font-size: 16px;
}


button {
  margin: 0 auto;
  border: none;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  transition: 1s;
}

button:hover:before {
  content: '\00bb   ';
  color: tomato;
}


button:hover:after {
  content: '   \00ab';
  color: tomato;
}

.levelDisplayClass, .scoreBoardClass {
  width: 30vw;
  height: 1vw;
  padding: 1vw;
  margin: 0 auto;
  color: darkslategrey;
  text-align: center;
}

.levelDisplayClass {
  margin-top: -2vw;
  font-size: 18px;
}

.scoreBoardClass {
  font-size: 18px;
}
